{% extends "main/header.html" %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<!-- Recipe Info -->
		<section>
			<div class="page-header">
				<span class="section-header">Recipe Information:</span>
				<form class="inline section-header" method="POST">
					<input class="btn btn-primary" type="submit" value="RSVP"></input>
				</form>
				<form class="inline section-header" action="">
					<input class="btn btn-success" type="submit" value="Joined"></input>
				</form>
			</div>

			<p>Rating: </p>
			<p>Time: </p>
			<p>Ingredients: </p>
			<p>Description: </p>
		</section>

		<!-- Reviews from users -->
		<section>
			<h2 class="page-header">Reviews: </h2>
			<hr class="divider">
			<div class="margin-bottom">
				<h3>Review1</h3>
				<h4>Content is here!</h4>
				<div class="row">
					<div class="col-xs-6 col-sm-4 placeholder">
		              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
		            </div>
		        </div>
			</div>
			<hr class="divider">
			<div class="margin-bottom">
				<h3>Review2</h3>
				<h4>Content is here!</h4>
				<div class="row">
					<div class="col-xs-6 col-sm-4 placeholder">
		              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
		            </div>
		        </div>
			</div>
			<hr class="divider">
			<div class="margin-bottom">
				<h3>Review3</h3>
				<h4>Content is here!</h4>
				<div class="row">
					<div class="col-xs-6 col-sm-4 placeholder">
		              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
		            </div>
		        </div>
			</div>
		</section>

		<!-- Review by user -->
		<section>
			<form method="POST" action=""> {% csrf_token %}
				<label class="form-report" for="review_text">Your Review</label>
			    <textarea class="form-control form-textarea" id="review_text" rows="3" name="review_text"></textarea>
			    <label class="form-margin-top" for="review_pic">Picture</label>
		    	<input type="file" class="form-control-file" id="review_pic" aria-describedby="fileHelp" name="review_pic">
			    <input class="btn btn-primary form-margin-top" type="submit" ></input>
			</form>
		</section>

		<!-- Related links -->
		<section>
			<h2 class="page-header">Related: </h2>
			<a href="#"><p>Related1</p></a>
			<a href="#"><p>Related2</p></a>
			<a href="#"><p>Related3</p></a>
		</section>



	</div>
</div>
{% endblock %}
