{% extends "main/header.html" %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<!-- Event Info -->
		<section>
			<div class="page-header">
				<span class="section-header">Event Information:</span>
				<form class="inline section-header" method="POST">
					<input class="btn btn-primary" type="submit" value="RSVP"></input>
				</form>
				<form class="inline section-header" action="">
					<input class="btn btn-success" type="submit" value="Joined"></input>
				</form>
			</div>
			<p>Time: </p>
			<p>Members: </p>
			<p>Description: </p>

		</section>

		<!-- Reports from other users -->
		<section>
			<h2 class="page-header">Reports: </h2>
			<hr class="divider">
			<div class="margin-bottom">
				<h3>Report1</h3>
				<h4>Content is here!</h4>
				<div class="row">
					<div class="col-xs-6 col-sm-4 placeholder">
		              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
		            </div>
		        </div>
			</div>
			<hr class="divider">
			<div class="margin-bottom">
				<h3>Report1</h3>
				<h4>Content is here!</h4>
				<div class="row">
					<div class="col-xs-6 col-sm-4 placeholder">
		              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
		            </div>
		        </div>
			</div>
			<hr class="divider">
			<div class="margin-bottom">
				<h3>Report1</h3>
				<h4>Content is here!</h4>
				<div class="row">
					<div class="col-xs-6 col-sm-4 placeholder">
		              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
		            </div>
		        </div>
			</div>
		</section>

		<!-- Report by user -->
		<section>
			<form method="POST" action=""> {% csrf_token %}
				<label class="form-report" for="report_text">Your Report</label>
			    <textarea class="form-control form-text" id="report_text" rows="3" name="report_text"></textarea>
			    <label class="form-margin-top" for="report_pic">Picture</label>
		    	<input type="file" class="form-control-file" id="report_pic" aria-describedby="fileHelp" name="report_pic">
			    <input class="btn btn-primary form-margin-top" type="submit" ></input>
			</form>
		</section>

	</div>
</dov
{% endblock %}
