{% extends "main/header.html" %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h2>This is Event page!</h2><br>

		<!-- Event Info -->
		<section>
			<h2 class="page-header">Event Information: </h2>
			<p>Time: </p>
			<p>Members: </p>
			<p>Description: </p>
		</section>

		<!-- Reports from users -->
		<section>
			<h2 class="page-header">Reports: </h2>
			<p>Report1</p>
			<p>Report2</p>
			<p>Report3</p>
		</section>

		<!-- Reply by user -->
		<section>
			<h2 class="page-header">Reply: </h2>
		</section>

		<a class="btn btn-lg btn-success" href="{% url 'home' %}" role="button">Home</a>



	</div>
</dov
{% endblock %}
