{% extends "main/header.html" %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<section>
			<h2 class="page-header">Group1 Title: </h2>
			<div class="margin-bottom">
				<h3>event 1</h3>
				<h4>Content is here!</h4>
			</div>
			<div class="margin-bottom">
				<h3>event2</h3>
				<h4>Content is here!</h4>
			</div>
			<div class="margin-bottom">
				<h3>event3</h3>
				<h4>Content is here!</h4>
			</div>
		</section>

		<section>
			<h2 class="page-header">Group2 Title: </h2>
			<div class="margin-bottom">
				<h3>event 1</h3>
				<h4>Content is here!</h4>
			</div>
			<div class="margin-bottom">
				<h3>event2</h3>
				<h4>Content is here!</h4>
			</div>
			<div class="margin-bottom">
				<h3>event3</h3>
				<h4>Content is here!</h4>
			</div>
		</section>

	</div>
</dov
{% endblock %}
