{% extends "account/dashboard.html" %}

{% block detail %}

	<div class="jumbotron">
		<div class="container">
			<h2>Hello {{ username }}, Welcome to CookZilla!</h2>
	        <h2 class="page-header">Profile </h2>
			<section>
				<div class="row placeholders">
		            <div class="col-xs-6 col-sm-4 placeholder">
		              <img src="{{dbuser.ufile.url}}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
		              <h4>Photo</h4>
		              <span class="text-muted"></span>
		            </div>
				</div>
			</section>

		</div>
	</div>

	<h2>username: {{ dbuser.uname }}</h2>
	<h2>login_name: {{ dbuser.login_name }}</h2>
	<h2>udescription: {{ dbuser.udescription }}</h2>
	<h2>file: {{ dbuser.ufile.name}}</h2>


{% endblock %}

