{% extends "account/dashboard.html" %}

{% block detail %}

	<div class="jumbotron">
		<div class="container">
			<h2>Hello {{ dbuser.uname }}, Welcome to CookZilla!</h2>
	        <h2 class="page-header">Profile </h2>
			<section>
				<div class="row placeholders">
		            <div class="col-xs-6 col-sm-4 placeholder">
					{% if dbuser.uphoto %}
		              <img src="{{dbuser.uphoto.url}}" width="200" height="200" alt="#">
					{% else %}
					  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
		            {% endif %}
						<h4>Photo</h4>
		              <span class="text-muted"></span>

		            </div>
				</div>
			</section>

		</div>
	</div>

	<h2>username: {{ dbuser.uname }}</h2>
	<h2>login_name: {{ dbuser.login_name }}</h2>
	<h2>udescription: {{ dbuser.udescription }}</h2>

    {% if dbuser.ufile %}
    <h2>file: <a href="{{ dbuser.ufile.url}}">{{ dbuser.ufile.name}}</a></h2>
	{% endif %}

{% endblock %}
