button.btn.dropdown-toggle.btn-default {
	border-radius: 4px;
}

.form-signup {
    max-width: 550px;
    padding: 15px;
    margin: 0 auto;
}

.form-head {
	margin-bottom: 20px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-report {
	font-size: 1.7rem;
}
.form-textarea {
	width: 700px;
	height: 100px;
}

.form-text {
	width: 300px;
	height: 100px;
}

.form-margin-top{
	margin-top: 10px;
}

.margin-bottom {
	margin-bottom: 20px;
}

.section-header {
	font-size: 30px;
	font-weight: 500;
}


.divider {
	background-color: black;
	color: black;
	height: 1.5px;
	border: none;
}

.inline {
	display: inline;
}
